body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9e9e9;
    margin: 0px;
}

.button {
    color: #ffffff;
    background-color: #878787;
    border: 0px;
    border-radius: 20px;
    height: 30px;
    width: 130px;
    margin-top: 20px;
    clear: both;
}

.heart>img {
    width: 40px;
    margin-left: 10px;                              /*heart image*/
    margin-right: 10px;
}

.big-text {
    font-size: 50px;
}

.box-text {
    font-size: 20px;                                   /*font style in boxes*/
    font-weight: bold;
}
.under-heart-text {
   line-height: 0.5;
}

.container {
    display: flex;
    flex-wrap: wrap;                                   /*up colo menu*/
    font-size: 13px;
    background-color: #ffffff;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;              /*Gray box*/
    text-align: center;
    font-size: 15px;
}

.logo>img {
    width: 40px;                                        /*logo image*/
    height: 40px;
}

.logo {
    order: 1;
    align-self: center;
    margin-left: 15%;                                    /* div logo style*/
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}
	
.color-up-menu {
    margin-left: 3%;
    order: 2;
    width: 5%;                                          /*up menu*/
    text-align: center;
    align-self: center;
}
	
.i-love-color-title-and-background {
    order: 1;
    background-color: #929292;
    width: 100%;                                /*title "I love Color" and background*/
    height: 270px;
    color: #ffffff;
    margin-bottom: -120px;
    padding-top: 30px;
    padding-bottom: 70px;
}
	
.bottom-box-left {
    background-color: #f5f9fa;                  /*left bottom box*/
    order: 2;
    width: 15%;
    margin-right: 30px;
    padding: 20px;
}

.bottom-box-middle {
    background-color: #f5f9fa;                   /*middle bottom box*/
    order: 2;
    width: 15%;
    margin-right: 30px;
    padding: 20px;
}

.bottom-box-right {
    background-color: #f5f9fa;                  /*right bottom box*/
    order: 2;
    width: 15%;
    padding: 20px;
}

.box-icon>img {
    height: 50px;
    width: 50px;
    margin-top: 5px;                               /*icons in bottom boxes*/
    margin-bottom: 15px;
}

@media (max-width: 510px) {
    .bottom-box-left {
        margin-top: 30px;
    }

    .under-heart-text {
        line-height: 1.0;
    }

    .logo {
        margin-left: 5%;
        margin-right: 5%;
    }

    .color-up-menu {
        width: 8%;
        margin-left: 4%;
    }
}

@media (max-width: 576px) {
    .bottom-box-left {
        order: 2;
        margin-right: 0px;
        width: 60%;
        margin-bottom: 20px;
    }

    .bottom-box-middle {
        order: 3;
        margin-right: 0px;
        width: 60%;
        margin-bottom: 20px;
    }

    .bottom-box-right {
        order: 4;
        width: 60%;
    }
}

@media (min-width: 577px) and (max-width: 760px) {
    .bottom-box-left {
        width: 30%;
    } 
	
    .bottom-box-middle {
        width: 30%;
        margin-right: 0px;
    }
	
    .bottom-box-right {
        order: 3;
        width: 70%;
        margin-top: 30px;
        margin-left: 0px;
    }
}

@media (min-width: 761px) {
}
